@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

body {
  background-color: #363636;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.excel-bg,
.excel-bg-1 {
  background-image: url("./Icons/excellogo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.excel-bg::after {
  content: "Choose Excel File";
  margin-top: -20px;
  color: rgb(2, 61, 2);
  font-weight: 500;
}
.wallpaper-bg {
  background-image: url("./Icons/whatsappwallpaper.jpg");
  background-size: cover;
}
.background-doodle {
  background-color: #05381ab7;
  background-image: url("./Icons/whatsappwallpaper.jpg");
  background-size: contain;
  background-blend-mode: multiply;
  position: fixed;
}
.input-border {
  border: none;
  outline: none;
  border-bottom: #363636 solid 1px;
  color: #363636;
}
.input-border:focus {
  border: none;
  outline: none;
  border-bottom: #363636 solid 1px;
}

table,
th,
td {
  border: rgba(0, 0, 0, 0.349) solid 1px;
  padding: 5px;
}

@layer components {
  .btn-active {
    @apply cursor-pointer select-none py-1 px-2  bg-[#064A42] text-white rounded-md hover:shadow-xl shadow-2xl;
  }
  .btn-nonactive {
    @apply py-1 px-2  bg-[white] rounded-md hover:shadow-xl cursor-pointer select-none;
  }
  .sidebar {
    @apply bg-[#064A42] pt-5  rounded-s-2xl h-full w-[250px] transition-all ease-in duration-300;
  }

  .sidebar-close {
    @apply translate-x-[-250px];
  }
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ffffff;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #ffffff;
}
input:checked ~ .back-check {
  background-color: #064a42;
}

textarea {
  field-sizing: content;
}
::selection {
  background-color: #064a42de;
  color: #ffffff;
}

.plan-icon {
  transition: all 0.8s ease;
}

.plan-box:hover .plan-icon {
  transform: rotateX(35deg);
}

input[type="range"] {
  font-size: 1.5rem;
  width: 12.5em;
}

input[type="range"] {
  color: #ef233c;
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: rgba(0, 0, 0, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
  color: #2b2d42;

  --thumb-height: 1.375em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
  }

  html::before {
    background: radial-gradient(circle at center, #101112, #000);
  }

  input[type="range"] {
    color: #f07167;
    --track-color: rgba(33, 98, 100, 0.863);
  }

  input[type="range"].win10-thumb {
    color: #03331c;
  }
}

input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
}

input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]:disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
    50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));

  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
    100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

/* @media only screen and (max-width: 817px) {
  .stf__block{
    height: 600px !important 
  
  }
  .stf__wrapper{
    padding-bottom: 100px !important;
  }
} */

/* .stf__wrapper {
  overflow:hidden
} */

@media (min-width: 1024px) {
  .flipbook {
    /* right: 0 !important;  */
    right: 12rem;
  }
  .btn-flip {
    display: block;
  }
  .btn-lg {
    display: none;
  }
}

@media (max-width: 1024px) {
  .flipbook {
    right: 0 !important;
  }
  .btn-flip {
    display: none;
  }
  .btn-lg {
    display: flex;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .flipbook {
    /* right: 0 !important;  */
    margin-top: 3% !important;
  }

  .btn-flip {
    display: none;
  }
}
.purple_border {
  box-shadow: 4px 4px 1px rgb(23, 78, 6);
}
.black_border {
  box-shadow: 4px 4px 1px rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#919191),
    to(#919191),
    color-stop(0.6, #919191)
  );
}

.ql-toolbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  content: "Add Blog Content Here and style it";
  font-size: 15px;
  color: rgb(162, 159, 159);
}
